<div class="container-fluid" id="full">
  <br><br><br><br><br>
  <div row>
    <div class="col-md-4 col-md-offset-4 col-xs-12 col-sm-4 col-sm-offset-4" style="background: linear-gradient(to left, white, whitesmoke);">
      <h4><i class="fa fa-key"></i> Recuperar Contraseña</h4>
      <hr>
      <form [formGroup]="passwordForm" class="loginForm">
        <div class="form-group">
          <div class="">
            <input type="password" class="form-control" formControlName="password" required
                   placeholder="Ingresa Contraseña">
          </div>
        </div>
        <div class="form-group">
          <div class="">
            <input type="password" class="form-control" formControlName="confirm_password" required
                   placeholder="Confirmar Contraseña">
          </div>
        </div>
        <br>
        <div class="form-group last">
          <div class="col-sm-12" style="text-align: center;">
            <button type="submit" class="btn btn-success btn-md">
              Guardar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
