<section class="header-home" style="background: url('../../assets/images/slider-min.png'); background-size: cover">
  <div class="container-fluid">
    <div class="row" style="margin-top: 165px">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <img src="../../assets/images/iphone-min.png" class="iphone_img" alt=""/>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <img src="../../assets/images/slogan.png" class="slogan_img pull-right" alt=""/>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <a href="store"><img src="../../assets/images/buy-button2.png" class="buy_img pull-right" alt=""/></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center">
          <img src="../../assets/images/allies-text.png" class="allies_img" alt="" style="width: 45%"/>
          <img src="../../assets/images/allies.png" class="allies_img" alt=""/>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="glow welcome-section">
  <div class="content-md container">
    <div class="row margin-b-40">
      <div class="col-sm-12" style="text-align: center">
        <h2 style="color:white">BIENVENIDO A BUILDOOR</h2>
        <hr>
        <h5>
          <b>BUILDOOR</b>, es la aplicación web que te permite comprar los insumos de tu obra
          o proyecto de construcción de forma eficiente y desde cualquier computador, tablet o celular.
          Recibe las mejores opciones para tus necesidades y compra tus productos: sin desplazamientos y largos tiempos
          de espera. Ahorrando tiempo, personal y dinero en el proceso de compras
          para que centres tus recursos a mejorar tu productividad, reducir costos y optimizar procesos en tus
          proyectos.
        </h5>
      </div>
    </div>
  </div>
</section>
<section style="background: url('../../assets/images/background-min.png'); background-size: cover">
  <div class="">
    <div class="content-md container">
      <div class="row margin-b-40">
        <div class="col-sm-12" style="text-align: center">
          <h2 style="color:white">PORTAFOLIO DE PRODUCTOS Y SERVICIOS</h2>
        </div>
      </div>
      <!--// end row -->
      <div class="row no-padding">
        <div class="col-md-4 no-padding portfolio-section">
          <img class="full-width img-responsive images"
               style="height:240px;"
               src="../../assets/images/home/acero-bw-min.jpg" alt="Portfolio Image">
          <div class="overlay">
          </div>
          <div class="text">
            <a href="store"><h4
              style="cursor: pointer;background: rgba(0, 0, 0, 0.7); width: 100%; margin-top: -50px; padding: 15px">
              ACEROS
            </h4></a>
          </div>
        </div>
        <div class="col-md-4 no-padding portfolio-section">
          <img class="full-width img-responsive images"
               style="height:240px"
               src="../../assets/images/home/escombros-bw-min.jpg" alt="Portfolio Image">
          <div class="overlay">
          </div>
          <div class="text">
            <a href="store"><h4 style="background: rgba(0, 0, 0, 0.7); width: 100%; margin-top: -50px; padding: 15px">
              RECOLECCIÓN DE ESCOMBROS
            </h4></a>
          </div>
        </div>
        <div class="col-md-4 no-padding portfolio-section">
          <img class="full-width img-responsive images"
               style="height:240px"
               src="../../assets/images/home/cantera-bw-min.jpg" alt="Portfolio Image">
          <div class="overlay">
          </div>
          <div class="text">
            <a href="store"><h4 style="background: rgba(0, 0, 0, 0.7); width: 100%; margin-top: -50px; padding: 15px">
              MATERIAL DE CANTERA
            </h4></a>
          </div>
        </div>
      </div>
      <div class="row no-padding">
        <div class="col-md-8 no-padding portfolio-section">
          <img class="full-width img-responsive images img-big" src="../../assets/images/home/builders-bw-min.jpg"
               alt="Portfolio Image">
          <div class="overlay">
          </div>
        </div>
        <div class="col-md-4 no-padding portfolio-section">
          <img class="full-width img-responsive images" src="../../assets/images/home/obrero-bw-min.jpg"
               alt="Portfolio Image">
          <div class="overlay">
          </div>
          <div class="text">
            <a href="store"><h4 style="background: rgba(0, 0, 0, 0.7); width: 100%; margin-top: -50px; padding: 15px">
              CONTRATACIÓN DE MANO DE OBRA CALIFICADA
            </h4></a>
          </div>
        </div>
        <div class="col-md-4 no-padding portfolio-section">
          <img class="full-width img-responsive images img-ultimate" style="height: 247px;"
               src="../../assets/images/home/complementario-bw-min.jpg" alt="Portfolio Image">
          <div class="overlay">
          </div>
          <div class="text">
            <a href="store"><h4 style="background: rgba(0, 0, 0, 0.7); width: 100%; margin-top: -50px; padding: 15px">
              SERVICIOS COMPLEMENTARIOS
            </h4></a>
          </div>
        </div>
      </div>
      <br><br>
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" style="text-align: center">
        <h5 style="margin-bottom: 0">Encuentra los mejores materiales,
          para la gestión de tu obra en un sólo lugar y con
          la capacidad de gestión que te brinda Buildoor.</h5>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #000000">
  <div style="padding-top: 80px; padding-bottom: 80px">
    <div class="row margin-b-40">
      <div class="col-sm-12" style="text-align: center">
        <h2 style="color: #FF6400 ">CONTÁCTANOS</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
          <form [formGroup]="contactForm" class="loginForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input formControlName="name" type="text" class="form-control" placeholder="Nombre">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input formControlName="email" type="email" class="form-control" placeholder="Correo Electrónico">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea formControlName="message" style="height: 130px" class="form-control textarea" rows="10" placeholder="Mensaje"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div style="text-align: right" class="col-md-12">
                <button (click)="sendMessage()" type="submit" class="btn btn-success btn-md">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

