<section id="full">
  br><br><br><br><br><br><br>
  <simple-notifications></simple-notifications>
  <section *ngIf="!isDataAvailable" class="white-cover"></section>
  <section *ngIf="isDataAvailable">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="product-details"><!--product-details-->
            <div class="col-sm-7">
              <div id="similar-product" class="carousel slide col-sm-12" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" *ngIf="data.images.length!=0">
                  <div style="height: 600px;" *ngFor="let image of data.images; let isFirstRow=first"
                       [ngClass]="{'active' : isFirstRow}"
                       class="item">
                    <a><img src="{{image.full_path}}" alt=""></a>
                  </div>
                </div>
                <!-- Controls -->
                <a class="left item-control" href="#similar-product" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                </a>
                <a class="right item-control" href="#similar-product" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="product-information">
                <h2>{{data.name}}</h2>
                <p>{{data.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
